.moneyAmount {
    height: 100px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(25, 117, 25);
    position: sticky;
    top: 0;
}

.moneyAmount__title {
    color: white;
    font-weight: 900;
    font-size: 40px;
}

@media only screen and (max-width: 550px) {
    .moneyAmount__title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .moneyAmount__title {
        font-size: 20px;
    }
}